{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always"
}
